html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    padding: 0 ;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #4f50e9;
    font-size: 20px;
    overflow-x: hidden;
    
}

.container {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    
}